html
  head
    title OpenID Connect results
  body
    h1 OpenID Connect results
    table(border='1')
      tr
        th Subject
        td= userinfo.sub
      tr
        th Name
        td= userinfo.name
      tr
        th Given Name
        td= userinfo.given_name
      tr
        th Middle Name
        td= userinfo.middle_name
      tr
        th Family Name
        td= userinfo.family_name
      tr
        th eID Card Number
        td= userinfo.beid_card_number
      tr
        th Birthdate
        td= userinfo.birthdate
      tr
        th Place of Birth
        td= userinfo.place_of_birth.locality
      tr
        th Gender
        td= userinfo.gender
      tr
        th eID Chip Number
        td= userinfo.beid_chip_number
      tr
        th eID Document Type
        td= userinfo.beid_document_type
      tr
        th Nationality
        td= userinfo.beid_nationality
      tr
        th eID Card Delivery Municipality
        td= userinfo.beid_card_delivery_municipality
      tr
        th eID Card Validity Begin
        td= userinfo.beid_card_validity_begin
      tr
        th eID Card Validity End
        td= userinfo.beid_card_validity_end
      tr
        th Street Address
        td= userinfo.address.street_address
      tr
        th Locality
        td= userinfo.address.locality
      tr
        th Postal Code
        td= userinfo.address.postal_code
    br
    form(action='./')
        input(type='submit', value='Back')